@tailwind base;
@tailwind components;
@tailwind utilities;

.category-card:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent, #000);
  z-index: 1;
  pointer-events: none;
}

.heart svg path {
  fill: #505050;
}

/* Style actif (rouge) */
.heart.active svg path {
  fill: red;
}
